<div class="row">
  <div class="col">
    <h2>All Stops</h2>
    <%= erb(:stops)%>
  </div>
  <div class="col">
    <h2>All Cities</h2>
    <%= erb(:cities)%>
  </div>
  <div class="col">
    <h2>All Trains</h2>
    <%= erb(:trains)%>
  </div>
</div>
