<div class="row">
  <div class="col-md-3">
    <div class="row">
      <div class="col">
        <h2>All Cities</h2>
        <%= erb(:cities)%>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>All Trains</h2>
        <%= erb(:trains)%>
      </div>
    </div>
  </div>
  <div class="col-md">
    <h2>All Stops</h2>
    <%= erb(:stops_table)%>
  </div>
</div>
