  <% if @train.cities != []%>
    <ul>
      <% @train.cities.each do |city| %>
        <li><a href="/trains/<%= @train.id %>/cities/<%= city.id %>"><%= city.name %></a></li>
      <% end %>
    </ul>
  <% else %>
    <p>There are no stops listed for this train yet.</p>
  <% end %>